<form class="mt-5" [formGroup]="alunoForm" (submit)="onSubmit()">


  <div class="form-group" *ngIf="isEdicao">
    <label for="id">Id</label>
    <input type="text" class="form-control" [readOnly]="true" formControlName="id" id="id">
  </div>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Digite o nome do aluno">
  </div>
  <app-mostrar-erros
    [isError]="isErrorField( 'nome' )" [mensagem]="'Nome obrigatório'"
  ></app-mostrar-erros>

  <div class="form-group">
    <label for="ra">RA</label>
    <input type="text" class="form-control" formControlName="ra" id="ra" placeholder="Digite o RA do aluno">
  </div>
  <app-mostrar-erros
    [isError]="isErrorField( 'ra' )" [mensagem]="'RA obrigatório'"
  ></app-mostrar-erros>

  <div class="form-group">
    <label for="curso">Curso</label>
    <input type="text" class="form-control" formControlName="curso" id="curso" placeholder="Digite o curso do aluno">
  </div>
  <app-mostrar-erros
   [isError]="isErrorField( 'curso' )" [mensagem]="'Curso obrigatório'"
  ></app-mostrar-erros>

  <br>
  <br>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary">{{ textoBotao }}</button>
    <button class="btn btn btn-success" [routerLink]="['/alunos']">Voltar</button>
  </div>

</form>

