<button type="button" class="btn btn-success mt-5" (click)="getAlunos()">
    Consultar Alunos
</button>
<br>
<br>

<table class="table" *ngIf="alunos != null">
    <tr>
        <th>Id:</th>
        <th>nome:</th>
        <th>ra:</th>
        <th>curso:</th>
    </tr>
    <!--<tr *ngFor="let alun of alunos?"></tr>-->
    <!--O operador Elvis só pode ser usado com objeto-->
    <tr *ngFor="let alun of alunos">
        <td>{{alun.id}}</td>
        <td>{{alun.nome}}</td>
        <td>{{alun.ra}}</td>
        <td>{{alun.curso}}</td>
    </tr>
</table>
<br>
<br>
<div class="card" style="width: 18rem;" *ngIf="aluno?.id>0">
    <div class="card-body">
        <h5 class="card-title">Aluno {{ aluno?.id }} </h5>

        <p class="card-text"> Nome : {{ aluno?.nome }} </p>
        <p class="card-text"> RA : {{ aluno?.ra }} </p>
    </div>
</div>
