<form class="mt-5 row justify-content-center" [formGroup]="produtoForm" (submit)="onSubmit()">

  <div class="col-sm-8">
    <div class="form-group" *ngIf="isEdicao">
      <label for="id">Id</label>
      <input type="text" class="form-control" [readOnly]="true" formControlName="id" id="id">
    </div>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Digite o nome do produto">
    </div>
    <app-mostrar-erros
      [isError]="isErrorField( 'nome' )" [mensagem]="'Nome obrigatório'"
    ></app-mostrar-erros>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input type="text" class="form-control" formControlName="descricao" id="ra" placeholder="Digite a descricao do produto">
    </div>
    <app-mostrar-erros
      [isError]="isErrorField( 'descricao' )" [mensagem]="'Descrição obrigatória'"
    ></app-mostrar-erros>

    <div class="form-group">
      <label for="preco">Preço</label>
      <input type="text" class="form-control" formControlName="preco" id="preco" placeholder="Digite o preço do produto">
    </div>
    <app-mostrar-erros
      [isError]="isErrorField( 'preco' )" [mensagem]="'Preço obrigatório'"
    ></app-mostrar-erros>

    <div>
      <label for="categoria">Categoria</label>
      <select class="form-control" formControlName="categoria" id="categoria">
        <option *ngFor="let cat of categorias" [value]="cat.id" >{{ cat.nome }}</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="imagem">Imagem</label>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="imagem" (blur)="getImage($event)">
          <label class="custom-file-label" for="imagem">Escolha o arquivo de imagem</label>
        </div>
      </div>
    </div>

    <div class="mt-3 d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">{{ textoBotao }}</button>
      <button class="btn btn btn-success" [routerLink]="['/admin/produtos']">Voltar</button>
    </div>
  </div>

</form>



