
<p>meu-primeiro works!</p>

{{ titulo }}
<br>
{{ curso }}
<br>
{{ getNome() }}
<br>

<input value="{{ titulo }}" />
<br>
<br>
<input [value]="titulo" />
<br>
<br>
<input #tituloInput [value]="titulo"
        (keyup)="onInput(titulo)" />
<br>
<br>
<input [(ngModel)] = "titulo" />
<br>
<br>
<button [class]="getClass()" [class.btn]="isDisable()"
        (click)="onButtonClick()">Meu Botão</button>
<br>
<br>

{{ series | json }}
<br>
<br>
{{ 4000 | currency:'BRL':'symbol':'0.2-2'}}
<br>
<br>
{{ hoje | date : 'dd/MM/yyyy' }}
<br>
<br>
<!-- {{  numero_cpf | cpf }} -->









